.reg-card {
	padding: 20px;
	border: var(--border);
}

.reg-card,
.flash-card {
	border-radius: var(--border-radius);
	min-height: 27vh;
	width: 12.5vw;
	text-align: center;
}

.cyrillic {
	font-family: var(--cyrillic-font);
	font-size: var(--card-letter-size);
	margin-bottom: 1.5rem;
}

.cursive {
	font-family: var(--cyrillic-cursive);
	font-weight: bold;
}

.letter-details p {
	margin: 0 auto;
}

.flash-letters {
	font-size: var(--flashcard-letter-size);
}

.flash-card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	cursor: pointer;
}

.flash-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1.2s ease;
	transform-style: preserve-3d;
	border: 4px dotted var(--border-color);
	border-radius: var(--border-radius);
}

.flash-card:hover .flash-card-inner {
	transform: rotateY(180deg);
}

.card-side {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-back {
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
}

/* Quiz Section */

.quiz-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}

.quiz-card {
	min-width: 25%;
	height: 30vh;
	margin: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border);
	border-radius: var(--border-radius);
	transition: border-color 0.3s ease;
}

.quiz-card .quiz-letter {
	font-size: 6rem;
}

.quiz-correct-border {
	border-color: green;
}

.quiz-incorrect-border {
	border-color: red;
}
