.reg-card {
	padding: 20px;
	border: 2px solid black;
}

.reg-card,
.flash-card {
	border-radius: 10px;
	height: 25vh;
	width: 12.5vw;
	text-align: center;
}

.c-letters {
	font-family: var(--cyrillic-font);
	font-size: var(--card-letter-size);
	margin-bottom: 1.5rem;
}

.flash-letters {
	font-size: var(--flashcard-letter-size);
}

.flash-card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	cursor: pointer;
}

.flash-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1.2s ease;
	transform-style: preserve-3d;
	border: 2px dotted black;
	border-radius: 10px;
}

.flash-card:hover .flash-card-inner {
	transform: rotateY(180deg);
}

.card-side {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-back {
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
}

.quiz-card {
	border: 4px solid transparent;
	transition: border-color 0.3s ease;
}

.quiz-correct-border {
	border-color: green;
}

.quiz-incorrect-border {
	border-color: red;
}
