.header,
.footer-container {
	margin: 0 auto;
	width: 100vw;
	padding: 0 5rem;
	text-align: center;
}

.header {
	background-color: var(--background-header);
	height: 12.5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--highlight-bright);
}

.logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	font-family: "Vast Shadow", serif;
	font-weight: 100;
	font-size: var(--logo-size);
	letter-spacing: 10px;
	color: var(--background-main);
	background-color: var(--primary-accent);
	border: var(--border);
	border-left: none;
	border-right: none;
	border-radius: 5px;
	padding: 5px 5rem;
	box-shadow: var(--box-shadow);
}

.logo-link {
	text-decoration: none;
}

.sub-header {
	font-family: var(--latin-font);
	font-size: var(--sub-header-size);
	color: var(--secondary-text);
	font-style: oblique;
	letter-spacing: 1.25px;
	margin-top: -5px;
}

.nav-container {
	display: flex;
	width: 30%;
	justify-content: space-around;
	align-items: center;
}

.navigation-link,
label {
	color: var(--primary-accent);
	text-decoration: none;
	letter-spacing: 1.75px;
	font-weight: bold;
}

.navigation-link:hover {
	font-weight: bold;
	border-bottom: 2px solid var(--primary-accent);
}

.language-nav-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.language-nav-container .language-link {
	letter-spacing: 1.1px;
}

.language-option {
	font-family: var(--latin-font);
	width: auto !important;
}

.footer-container {
	border-top: 2px solid var(--highlight-bright);
	background-color: var(--background-footer);
	height: 12.5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  padding-top: .5rem;
}

.footer-container h3 {
  font-size: var(--sub-header-size);
  font-style: italic;
  color: var(--primary-text);
}

.footer-container p {
	color: var(--highlight-bright);
  font-size: .8rem;
	text-decoration: underline;
  letter-spacing: 1px;
}

.personal-link-container {
	display: flex;
	justify-content: center;
}

.personal-link-container a {
	margin: 0 1rem;
	text-decoration: none;
	letter-spacing: 1.75px;
	font-weight: bold;
  font-size: .9rem;
  color: var(--background-header);
}

.personal-link-container a:hover {
  text-decoration: underline;
}
