h1,
h2 {
	text-align: center;
}

.activity-nav {
	width: 90vw;
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}

.activity-link {
	font-family: var(--latin-font);
	margin: 0 2rem;
	width: 6rem;
	height: 2rem;
}

input[type="checkbox"] {
	cursor: pointer;
}

.main-content {
	min-height: 80vh;
	width: 90vw;
}

.lang-select-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lang-nav-btn {
	cursor: pointer;
	font-family: var(--cyrillic-font);
	font-weight: bold;
  letter-spacing: 2px;
  background-color: var(--background-footer);
  color: var(--background-main);
	min-width: 15vw;
	height: 4vh;
	margin: 1.25rem auto;
	border: 2.5px solid var(--highlight-bright);
	border-radius: 20px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
}

.lang-nav-btn:active {
	box-shadow: var(--box-shadow);
}

.lang-nav-btn:disabled {
  border: none;
	cursor: not-allowed;
}

.study-container,
.flashcard-container {
	border: 2px solid fuchsia;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	margin: 1rem;
	padding: 2rem;
	justify-items: center;
}
