:root {
	/* Colours */
	--background-main: #fdfdfd;
	--header-background: #f4f4f6;
	--footer-background: #5f72a3;
	--primary-text: #222222;
	--secondary-text: #5f6c7b;
	--primary-accent: #8b0000;
	--secondary-accent: #2e3a59;
	--highlight-bright: #d4af37;

	/* Fonts */
	--cyrillic-font: "Noto Sans", sans-serif;
  --cyrillic-cursive: "Great Vibes", cursive;
	--card-letter-size: 2.5rem;
	--flashcard-letter-size: 4rem;

	/* Borders & Shadows */
	--border: 4px solid #c5bebe;
	--border-color: #c5bebe;
	--border-radius: 8px;
	--box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
