:root {
	/* Colours */
	--background-header: #f4f1ee;
	--background-main: #f4f4f6;
	--background-footer: #5f72a3;
	--primary-text: #222222;
	--secondary-text: #5f6c7b;
  --primary-accent: #5f73a3;
	--secondary-accent: #2e3a59;
	--highlight-bright: #d4af37;
	--highlight-dark: #8b0000;

	/* Fonts */
	--cyrillic-font: "Noto Sans", sans-serif;
  --cyrillic-cursive: "Great Vibes", cursive;
  --latin-font: "Open Sans", sans-serif;
	--card-letter-size: 2.5rem;
	--flashcard-letter-size: 4rem;

  /* Sizes */
  --logo-size: 2.5rem;
  --sub-header-size: 1.10rem;

	/* Borders & Shadows */
	--border-color: #c5bebe;
	--border: 2px solid #c5bebe;
  --card-border: 4px solid var(--primary-accent);
	--border-radius: 8px;
	--box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}